ranger/.config/ranger/plugins/** linguist-vendored
ranger/.config/ranger/*.py linguist-vendored
ranger/.config/ranger/*.sh linguist-vendored
nvim/.config/nvim/plugin/packer_compiled.lua linguist-vendored
